@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Montserrat", "Roboto", sans-serif;
}
/*Body has class of .container*/
.container {
  margin: 0 auto;
  display: grid;
  grid-template-rows: min-content auto min-content;
  height: 100%;
}

/*Header*/
.header {
  color: #fff;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  position: relative;
  justify-items: center;
  height: 70vh;
  background-image: linear-gradient(rgb(0,0,0, 0.2),	rgb(0,0,0, 0.1)), url(./assets/spruce-medium.jpg);
  background-position: center center;
  background-size: cover;
}

.bigger {
  font-weight: 600;
}

.profile-picture-container {
  position: absolute;
  overflow: hidden;
  right: 25px;
  bottom: -10px;
  height: 150px;
  width: 150px;
  border: 2px solid #fff;
  border-radius: 50%;
  z-index: 2;
}

.profile-picture-container img {
  width: 150px;
  object-fit: cover;
}

/*Since this is contained within the header, it's width has to be defined or it will inherit the parent-properties*/
.top-section {
  width: 60%;
  top: 10px;
  left: 10px;
  position: absolute;
}

.top-section p {
  font-size: 16px;
}

.header-links {
  position: absolute;
  right: 5px;
  top: 5px;
}

.fa {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
  font-size: 20px;
  padding: 4px 6px;
}

.icon-anchor {
  text-decoration: none;
}

/*Main-section*/
.main-wrapper {
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
}


.summary {
  position: relative;
  text-indent: 11%;
}

.line {
  display: inline-block;
  width: 30px;
  height: 2px;
  background-color: #0E5848;
  position: absolute;
  top: 72px;
  left: 10px;
}

.dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #0E5848;
  position: absolute;
  left: 30px;
}

.main {
  padding: 50px 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.not-yet-learned {
  color: #0E5848;
  font-weight: 600;
}

.background {
  background: #e7ede1;
}

h3 {
  text-align: center;
}

.heading-three-span {
  color: #fff;
  background-color: #0E5848 /* #678d6d */;
}

h4 {
  color: #0E5848/* #11423f *//* #678d6d */;
}

.overlay-container {
	position: relative;
	width: 100%;
	height: 100%;
}

.overlay {
	position: absolute;
	display: flex;
  align-items: center;
  justify-content: center;
	bottom: 0;
	background: rgba(0, 0, 0, 0.4);
	opacity: 1;
	font-size: 20px;
	text-align: center;
	width: 100%;
	height: 100%;
}

.overlay h4 {
  color: #bae2c0;
  padding: 4px;
}

.project-container {
  display: grid;
  grid-template-columns: 1fr;
}

.project-card {
  display: flex;
  flex-direction: column;
}

.project-links {
  text-decoration: none;
  color: #000;
}

.project-images {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
}

.tag-wrapper {
  display: flex;
}

.tag {
  background: #a2d6aa;
  padding: 5px;
  margin: 5px;
  color: #000;
}

.title-span {
  color: #0E5848;
  font-weight: 600;
  font-size: 20px;
}

.arrow {
  color: #0E5848;
  font-weight: 600;
  font-size: 20px;
  text-decoration: underline;
}

.other {
  flex-direction: column;
}

.other-heading {
  font-size: 22px;
  font-weight: 700;
}

.thoughts {
  display: grid;
  grid-template-columns: min-content;
  grid-template-rows: min-content;
  justify-content: center;
}

.thoughts .overlay-container {
  max-width: 250px;
}

.thoughts .title-span {
  font-size: 17px;
}

.article-images {
  max-width: 250px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  padding: 5px;
}

.skill-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  justify-items: center;
}

.first-row {
  grid-row-start: 1;
  padding: 10px;
}

.second-row {
  grid-row-start: 2;
  padding: 10px;
}

.one, .three {
  grid-column: 2/3;
}

.two, .four {
  grid-column: 3/4;
}

.more {
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.bottom-links {
  display: flex;
}

.bottom-links .fa{
  color: #11423f;
  border: 2px solid #11423f;
  margin: 5px;
  border-radius: 50%;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
  font-size: 25px;
  padding: 4px 6px;
}

/*FOOTER*/
.footer {
  display: grid;
  grid-template-rows: auto;
  background: #11423f;
  color: #fff;
  justify-content: center;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-text {
  margin: 5px;
}

/*MEDIA QUERIES*/
@media (min-width: 768px) {
  .main {
    padding:  150px 10px;
  }
  .summary {
    text-indent: 6%;
  }
  .line {
    top: 172px;
  }
  .profile-picture-container {
    height: 270px;
    width: 270px;
  }
  .profile-picture-container img {
    width: 270px;
  }
  .header-links {
    right: 25px;
    top: 15px;
  }
  .fa {
    font-size: 35px;
  }
  .top-section {
    font-size: 25px;
  }
  .project-container {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
    padding: 30px;
    gap: 10px;
  }
  .project-one {
    grid-column: 1/4;
  }
  .project-two {
    grid-column: 4/7;
  }
  .project-three {
    grid-row: 2;
    grid-column: 1/4;
  }
  .project-four {
    grid-row: 2;
    grid-column: 4/7;
  }
}

/*Add display flex to main here?*/

@media (min-width: 1024px) {
  .summary {
    text-indent: 5%;
    padding: 0 15%;
  }
  .line {
    width: 23px;
    top: 185px;
    left: 155px;
  }
  .dot {
    top: 178px;
    left: 172px
  }
  .main {
    flex-direction: column;
    padding:  150px;
  }
  .tech {
    padding: 150px 15%;
  }
  .heading-three-span {
    font-size: 30px;
  }
  p {
    font-size: 22px;
  }
  .other-heading {
    font-size: 27px;
  }
  .project-container {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: min-content;
  }
  .project-card p {
    font-size: 20px;
  }
  .project-one, .project-three {
    grid-column: 2/4;
  }
  .project-two, .project-four {
    grid-column: 5/7;
  }
  .thoughts {
    padding: 0 15%;
  }
  .skill-container {
  grid-template-rows: min-content;
  }
  .one {
    grid-row: 1;
    grid-column: 1;
  }
  .two {
    grid-row: 1;
    grid-column: 2;
  }
  .three {
    grid-row: 1;
    grid-column: 3;
  }
  .four {
    grid-row: 1;
    grid-column: 4;
  }
}

@media (min-width: 1280px) {
  .summary {
    text-indent: 15%;
  }
  .line{
    width: 105px;
    top: 185px; 
    left: 160px;
  }
  .dot{
    width: 25px;
    height: 25px;
    left: 260px;
    top: 175px;
  }
}
