@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Montserrat", "Roboto", sans-serif;
}
/*Body has class of .container*/
.container {
  margin: 0;
  display: grid;
  grid-template-rows: min-content auto min-content;
  height: 100%;
}

/*This looks ok in desktop, but is too wide. If the idea is to do mobile-first, I need to rethink*/
/*Only the wrapping element can have the grid-column/grid-row defined*/

/*Header*/
.header {
  color: #fff;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  position: relative;
  justify-items: center;
  height: 70vh;
}

.hero img{
  object-fit: cover;
  overflow: hidden;
  height: 70vh;
  width: 100%;
}

.profile-picture-container {
  position: absolute;
  overflow: hidden;
  right: 25px;
  bottom: -10px;
  height: 150px;
  width: 150px;
  border: 2px solid #fff;
  border-radius: 50%;
  z-index: 2;
}

.profile-picture-container img {
  width: 150px;
  object-fit: cover;
}

/*Since this is contained within the header, it's width has to be defined or it will inherit the parent-properties*/
.top-section {
  width: 60%;
  top: 10px;
  left: 10px;
  position: absolute;
}

.header-links {
  position: absolute;
  right: 5px;
  top: 5px;
}

.fa {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
  font-size: 20px;
  padding: 4px 6px;
}

.icon-anchor {
  text-decoration: none;
}

/*Main-section*/

.main-wrapper {
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
}

.summary {
  position: relative;
  text-indent: 11%;
}

.line {
  display: inline-block;
  width: 30px;
  height: 2px;
  background-color: darkslategray;
  position: absolute;
  top: 32px;
  left: 10px;
}

.dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: darkslategray;
  position: absolute;
  left: 30px;
}
.main {
  padding: 10px;
  justify-self: center;
}

.background {
  background:#E7EDE1 /* #BFC9B6 *//* #d3e5d6 */;
}

.heading-three{
  color: #fff;
  background-color: #678D6D /* #426E6D *//*  #FA382F */;
}

h4 {
  color: /* #FA382F */#678D6D;
}

/*NEED TO FIX: Make cards next to each other, check project-news-site*/
.project-container {
  display: flex;
  flex-wrap: wrap;
}

.project-card {
  width: 50%;
}

.project-links {
  text-decoration: none;
  color: #000;
}

.project-images{
  width: 100%;
}

.tag-wrapper {
  display: flex;
}

.tag {
  background: #a2d6aa;
  padding: 5px;
  color: #000;
}

/*FOOTER*/
.footer {
  display: grid;
  grid-template-rows: auto;
  background:#11423F;
  color: #fff;
  justify-content: center;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-text {
  margin: 5px;
}

/*MEDIA QUERIES*/
@media (min-width: 768px) {
  .summary {
    text-indent: 6%;
  }

  .profile-picture-container {
    height: 270px;
    width: 270px;
  }

  .profile-picture-container img {
    width: 270px;
  }
  
  .header-links {
    right: 25px;
    top: 15px;
  }
  
  .fa {
    font-size: 35px;
  }
  .top-section {
   font-size: 25px;
  }
}

@media (min-width: 1024px) {
  .summary {
    text-indent: 3%;
  }
}